body
{
  font-family: 'Taviraj', serif;
}

/*CLASES GENERALES*/
.btn{ background-color: #F7A22B; color:white;}
/*Esta e sl parte del HERO*/ 
header
{
	background-color: #F0B903;/*color de fondo*/
	height: 600px;
	margin: 0 auto;
}
header .btn:hover{color: #fff;}
header .btn
{
	background-color: #F7A22B;/*color del boton*/
	margin-top: 50px;
}
header .presentacion
{
	padding-top: 250px;
	color: white;
}
header .menu_list{ padding-top: 40px;}
header .menu_list a { text-decoration: none; color:#fff; }
header .menu_list a:hover { color:#fff;}

/*Esta es la parte del CONTENIDO     */
.contenido{
  background: #DDD7D7;
  padding: 40px 10px 30px 40px;
}
.caja{
  width: 100%;
  background-color: white;
  margin-top: 40px;
}
.caja h2{ padding-left:10px; }
.contenido .img{
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 40px 0px 10px 10px ;
  background: #B3B0AB;
}
.img h3 { line-height: 250px;}
.contenido p { padding: 5px 20px;}
.caja a:hover{color:white;}

.contenido .btn{
  border: none;
  margin-bottom: 10px;
  padding: 10px 10px;
}
/*Esta es la parte del Pie de Pagina*/
footer
{
	background-color: black;
  line-height: 60px;
  color: white;
}